<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzdEQI-hs5DT8ugeZpwSIs3upUNFOBirw</string>
	<key>GCM_SENDER_ID</key>
	<string>919114221026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emergent.applauncher.d208o0</string>
	<key>PROJECT_ID</key>
	<string>bookmyevents-83ef4</string>
	<key>STORAGE_BUCKET</key>
	<string>bookmyevents-83ef4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919114221026:ios:1a71b70ad011c6499065bb</string>
</dict>
</plist>